*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{
    height: 100%;
    width: 100%;
    background: whitesmoke;
    position: relative;
}

.circle{
border: 1px solid black;
}

.clock{
    height: 350px;
    width: 350px;
    border: 10px solid black;
    border-radius: 50%;
    position: absolute;
    left: 300px;
    top: 150px;
}

.hour-hand{
    width: 100px;
    background-color: black;
    height: 5px;
    position: absolute;
    top: 165px;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: transform 0.05s ease-in-out;
}

.min-hand{
width: 130px;
height: 5px;
background-color: rgb(216, 31, 31);
position: absolute;
top: 165px;
right: 50%;
transform-origin: 100%;
transform: rotate(90deg); 
transition: transform 0.05s ease-in-out;
}

.sec-hand{
    width: 140px;
    height: 5px;
    background-color: rgb(200, 211, 85);
    position: absolute;
    top: 165px;
    right: 50%;
    transform-origin: 100%;
    transform: rotate(90deg); 
    transition: transform 0.05s ease-in-out;
}

